<?xml version="1.0" encoding="UTF-8"?>

<?ifndef Version?>
<?define Version = "0.4.3" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{CA71BB16-22F8-424E-936E-2BA881983079}" 
           Name="Screens Installer" 
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="Open Source Automation" 
           UpgradeCode="28e14f5d-5c07-4f3e-9973-163143009269">

    <Package Id='*' InstallerVersion="200" Compressed="yes" Platform="x64" InstallScope="perMachine"  />

    <!--<Upgrade Id="28e14f5d-5c07-4f3e-9973-163143009269">
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND' Minimum='0.1.0' IncludeMinimum='yes' Maximum='$(var.Version)' IncludeMaximum='no' />
    </Upgrade>-->

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"  />
    <Binary Id="CustomActionsBinary" SourceFile="$(var.SolutionDir)CustomActions\bin\x86\Combined\OSAInstallCustomActions.CA.dll" />
   
    <Feature Id="ProductFeature" Title="Screens Installer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ProgramMenuDir" />
      <MergeRef Id='Core' />
      <MergeRef Id='Screens' />
    </Feature>
     
    <CustomAction Id="DBUpdateCustomAction"
					  BinaryKey="CustomActionsBinary"
					  DllEntry="Client"
					  Execute="immediate"
					  Return="check" />
  
    <CustomAction Id="UninstallAction"
                  BinaryKey="CustomActionsBinary"
                  DllEntry="Uninstall"
                  Execute="deferred"
                  Return="ignore" />
    
    <InstallExecuteSequence>
      <!--<RemoveExistingProducts Before="InstallInitialize" />-->
      <Custom Action="DBUpdateCustomAction" Before="InstallFinalize">
        NOT REMOVE="ALL"
      </Custom>
    </InstallExecuteSequence>
    
  </Product>

  <Fragment >
    <Directory Id="TARGETDIR" Name="SourceDir" >
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="OSA">
          <Component Id="ProgramMenuDir" Guid="{5E965BEC-2EF3-4B2A-96EB-7C38FDB5E984}">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKMU" Key="Software\OSAE\Screens" Type="string" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />     
        <Directory Id="INSTALLFOLDER" Name="INSTALLLOCATION" >
          <Merge Id='Screens' Language='1033' src='$(var.SolutionDir)MergeModules\Screens\bin\x86\Combined\Screens.msm' DiskId='1' />
          <Merge Id='Core' Language='1033' src='$(var.SolutionDir)MergeModules\Core\bin\x86\Combined\Core.msm' DiskId='1' />
        </Directory>
      </Directory>   
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">      
    </ComponentGroup>
    <DirectoryRef Id="ProgramMenuDir">   
    </DirectoryRef>
  </Fragment>
</Wix>