<?xml version="1.0" encoding="UTF-8"?>

<?ifndef Version?>
<?define Version = "0.4.3" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{07939A2A-61BA-4249-B953-0E9803C7E688}"
           Name="Open Source Automation - Server"
           Language="1033" Version="$(var.Version)"
           Manufacturer="Open Source Automation"
           UpgradeCode="1c604626-1e6c-4bf9-83a3-1010f65a7c83">

    <!--<Upgrade Id="1c604626-1e6c-4bf9-83a3-1010f65a7c83">
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND' Minimum='0.1.0' IncludeMinimum='yes' Maximum='$(var.Version)' IncludeMaximum='no' />
    </Upgrade>-->
    
		<Package Id='*' InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"  />
    <Binary Id="CustomActionsBinary" SourceFile="$(var.SolutionDir)CustomActions\bin\x86\Combined\OSAInstallCustomActions.CA.dll" />
    <Binary Id="MySQLInstallerBinary" SourceFile="$(var.SolutionDir)Dependencies\MySql.Data.dll" />

    <Feature Id="ProductFeature" Title="OSA Server" Level="1">      
      <ComponentGroupRef Id="group_DBFiles" />
      <ComponentGroupRef Id="group_WebServer" />
      <MergeRef Id='Core' />
      <MergeRef Id='Screens' />
      <MergeRef Id='Plugins' />
      <MergeRef Id='ServerMergeModule' />
      <ComponentGroupRef Id="StartMenuComponents" />
    </Feature>

    <CustomAction Id="DBUpdateCustomAction"
           BinaryKey="CustomActionsBinary"
           DllEntry="Server"
           Execute="immediate"
           Return="check" />

    <CustomAction Id="DeferredServerAction"
                 BinaryKey="CustomActionsBinary"
                 DllEntry="DeferredServerAction"
                 Execute="deferred"
                 Return="check" />

    <CustomAction Id="Register_UWS_Site" Directory="INSTALLFOLDER"
              Execute="deferred" Impersonate="no" Return="check"
              ExeCommand="&quot;[ProgramFilesFolder]UltiDev\Web Server\UWS.RegApp.exe&quot; /r /AppId={58fe03ca-9975-4df2-863e-a228614258c4} /path:&quot;[INSTALLFOLDER]\Plugins\Web Server\wwwroot&quot; &quot;/EndPoints:http://*:8081/&quot; /ddoc:default.aspx /appname:&quot;Open Source Automation&quot; /apphost=SharedLocalSystem /clr:4 /createsc:false /vpath:&quot;/&quot;" />

    <CustomAction Id="UninstallAction"
                 BinaryKey="CustomActionsBinary"
                 DllEntry="Uninstall"
                 Execute="deferred"
                 Return="ignore" />

    <CustomAction Id="UnRegister_UWS_Site" Directory="INSTALLFOLDER"
              Execute="deferred" Impersonate="no" Return="ignore"
              ExeCommand="&quot;[ProgramFilesFolder]UltiDev\Web Server\UWS.RegApp.exe&quot; /unreg /AppID:{58fe03ca-9975-4df2-863e-a228614258c4}" />
   
    <InstallExecuteSequence>
      <!--<RemoveExistingProducts After='InstallFinalize'/>-->
      <Custom Action="DBUpdateCustomAction" Before="StartServices">
        NOT REMOVE="ALL"
      </Custom>
      <Custom Action="Register_UWS_Site" Before="InstallFinalize">
        NOT REMOVE="ALL"
      </Custom>
      <Custom Action="UninstallAction" Before="InstallFinalize">
        REMOVE="ALL"
      </Custom>
      <Custom Action="UnRegister_UWS_Site" Before="InstallFinalize">
        REMOVE="ALL"
      </Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="OSA" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="INSTALLFOLDER" Name="INSTALLLOCATION" >
        <Merge Id='Screens' Language='1033' src='$(var.SolutionDir)MergeModules\Screens\bin\x86\Combined\Screens.msm' DiskId='1' />
        <Merge Id='Core' Language='1033' src='$(var.SolutionDir)MergeModules\Core\bin\x86\Combined\Core.msm' DiskId='1' />
        <Merge Id='ServerMergeModule' Language='1033' src='$(var.SolutionDir)MergeModules\Server\bin\x86\Combined\server.msm' DiskId='1' />
        <Directory Id="PluginsFolder" Name="Plugins" >
          <Merge Id='Plugins' Language='1033' src='$(var.SolutionDir)MergeModules\Plugins\bin\x86\Combined\Plugins.msm' DiskId='1' />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Property Id="URL" Value="http://localhost:8081" />
    <Icon Id="WebIcon.ico" SourceFile="$(var.SolutionDir)Resources\WebIcon.ico"/>
    <ComponentGroup Id="StartMenuComponents" Directory="ProgramMenuDir">
      <Component Id="ScreensShortcut" Guid="{0CFFF240-9A31-48B9-975A-DBC1B4E802F5}">
        <Shortcut Id="ScreensShortcutMenu"
                  Name="Screens"
                  Description="Open Source Automation - Screens"
                  Target="[INSTALLFOLDER]OSAE.GUI.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\OSAE\Screens" Name="startMenuShortcutScreens" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="ManagerShortcut" Guid="{05DE0D7A-B21C-48E2-B105-25F932DC91F5}">
        <Shortcut Id="ManagerShortcutMenu"
                  Name="Manager"
                  Description="Open Source Automation - Manager"
                  Target="[INSTALLFOLDER]OSAE.Manager.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\OSAE\Manager" Name="startMenuShortcutManager" Type="integer" Value="1" KeyPath="yes"/>        
      </Component>
      <Component Id="ManagerWebShortcutMenu" Guid="{EA029FFF-4515-4182-AA7B-A51DA510D658}">
        <Shortcut Id="ManagerWebShortcutMenu"
                  Name="OSA - Web Interface"
                  Description="OSA Management Web Interface"
                  Target="[URL]"
                  Icon="WebIcon.ico"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\OSAE\Server" Name="startMenuShortcutWeb" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="ProgramMenuDir" Guid="{5E965BEC-2EF3-4B2A-96EB-7C38FDB5E984}">
        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKMU" Key="Software\OSAE\Server" Type="string" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>