<?xml version="1.0" encoding="UTF-8"?>

<?ifndef Version?>
<?define Version = "0.4.3" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
	<Module Id="ServerMergeModule" Language="1033" Version="$(var.Version)">
		<Package Id="63b6c1a3-d20c-4e48-abeb-8b3851ef60c7" Manufacturer="Open Source Automation" InstallerVersion="200" InstallScope="perMachine" />
    <Icon Id="Icon.exe" SourceFile="$(var.SolutionDir)Resources\icon.ico" />
    <!--<Directory Id="DesktopFolder" Name="Desktop" />-->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
        <Component Id='OSAE.OSAManager' Guid='{249CFD3B-9C1B-44E6-9673-FC69BD0F1231}'>
          <File Id='OSAE.OSAManager' Name='OSAE.Manager.exe' DiskId='1' Source='$(var.SolutionDir)output\OSAE.Manager.exe' KeyPath='yes' />
          <ProgId Id='OSAE.OSAManager' Description='Plugin Installer File' Advertise='yes' Icon='Icon.exe'>
            <Extension Id='osapp' ContentType='application/text'>
              <Verb Id='open' Sequence='10' Command='Open' Argument='"%1"' />
            </Extension>
          </ProgId>
        </Component>
        <Component Id='OSAE.OSAManagerConfig' Guid='{EBA36BC7-4ED2-4633-BA96-8577992FEC10}'>
          <File Id='OSAE.OSAManagerConfig' Name='OSAE.Manager.exe.config' DiskId='1' Source='$(var.SolutionDir)output\OSAE.Manager.exe.config' KeyPath='yes' />
        </Component>
        <!--Zip Library-->
        <Component Id='ICSharpCode.SharpZipLib.dll' Guid='{4986521E-9DB6-4A7C-874F-3342C25C35DA}'>
          <File Id='ICSharpCode.SharpZipLib.dll' Name='ICSharpCode.SharpZipLib.dll' DiskId='1' Source='$(var.SolutionDir)output\ICSharpCode.SharpZipLib.dll' KeyPath='yes' />
        </Component>
        <!--VR2-->
        <Component Id="OSAE.VR.exe" Guid='{064B8EEB-B886-4B76-886F-5A6D3AFCDB97}'>
          <File Id='OSAE.VR.exe' Name='OSAE.VR.exe' DiskId='1' Source='$(var.SolutionDir)output\OSAE.VR.exe' KeyPath='yes' />
        </Component>
        <Component Id='OSAEService.exe.config' Guid='{DB89F149-CE3C-4F0D-99DD-385B010ACAA0}'> 
          <File Id='OSAEService.exe.config' Name='OSAEService.exe.config' DiskId='1' Source='$(var.SolutionDir)output\OSAEService.exe.config' KeyPath='yes' />
        </Component>
        <!--Plugin Description Editor-->
        <Component Id="PluginDescriptionEditor.exe" Guid='{AB596B70-CDFC-43C0-B936-32A04ABFFC9D}'>
          <File Id='PluginDescriptionEditor.exe' Name='PluginDescriptionEditor.exe' DiskId='1' Source='$(var.SolutionDir)output\PluginDescriptionEditor.exe' KeyPath='yes' />
          <ProgId Id='PluginDescriptionEditor.exe' Description='Plugin Description File' Advertise='yes' Icon='Icon.exe'>
            <Extension Id='osapd' ContentType='application/text'>
              <Verb Id='open' Sequence='10' Command='Open' Argument='"%1"' />
            </Extension>
          </ProgId>
        </Component>
        <!--Main Service-->
        <Component Id='OSAEService.exe' Guid='{368E2E0C-1E35-4900-B71C-E10D4849BEAA}'>
          <File Id='OSAEService.exe' Name='OSAEService.exe' DiskId='1' Source='$(var.SolutionDir)output\OSAEService.exe' KeyPath='yes' />
          <ServiceInstall
                Id="ServiceInstaller"
                Type="ownProcess"
                Vital="no"
                Name="OSAE"
                DisplayName="OSAE Service"
                Description="Open Source Automation - Server. The server is the central hub of the home automation system"
                Start="auto"
                ErrorControl="ignore"
                Interactive="no">
          </ServiceInstall>
          <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="OSAE" Wait="yes" />
        </Component>
			</Directory>
		</Directory>
	</Module>
</Wix>
