<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Open Source Automation - Client" Language="1033" Version="0.4.3" Manufacturer="Open Source Automation" UpgradeCode="ff9098da-832c-41d7-9d87-ceb07c516e87">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"  />
    <Binary Id="CustomActionsBinary" SourceFile="$(var.SolutionDir)CustomActions\bin\x86\Combined\OSAInstallCustomActions.CA.dll" />

		<Feature Id="ProductFeature" Title="Client_Installer_x64" Level="1">	
      <MergeRef Id='Core' />
      <MergeRef Id='Screens' />
      <MergeRef Id='ClientMergeModule' />
		</Feature>

      <CustomAction Id="DBUpdateCustomAction"
           BinaryKey="CustomActionsBinary"
           DllEntry="Client"
           Execute="immediate"
           Return="check" />

      <CustomAction Id="UninstallAction"
                    BinaryKey="CustomActionsBinary"
                    DllEntry="Uninstall"
                    Execute="deferred"
                    Return="ignore" />

      <InstallExecuteSequence>
        <!--<RemoveExistingProducts Before="InstallInitialize" />-->
        <Custom Action="DBUpdateCustomAction" Before="InstallFinalize">
          NOT REMOVE="ALL"
        </Custom>
      </InstallExecuteSequence>
  
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!--<Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="OSA" />
      </Directory>-->
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="INSTALLFOLDER" Name="INSTALLLOCATION" >
        <Merge Id='Screens' Language='1033' src='$(var.SolutionDir)MergeModules\Screens\bin\x86\Combined\Screens.msm' DiskId='1' />
        <Merge Id='Core' Language='1033' src='$(var.SolutionDir)MergeModules\Core\bin\x86\Combined\Core.msm' DiskId='1' />
        <Merge Id='ClientMergeModule' Language='1033' src='$(var.SolutionDir)MergeModules\Client\bin\x86\Combined\Client.msm' DiskId='1' />
      </Directory>
    </Directory>
	</Fragment>

	<Fragment>
    <Property Id="URL" Value="http://localhost:8081" />
    <Icon Id="WebIcon.ico" SourceFile="$(var.SolutionDir)Resources\WebIcon.ico"/>
    <ComponentGroup Id="StartMenuComponents" Directory="ProgramMenuDir">
      <Component Id="ScreensShortcut" Guid="{0CFFF240-9A31-48B9-975A-DBC1B4E802F5}">
        <Shortcut Id="ScreensShortcutMenu"
                  Name="Screens"
                  Description="Open Source Automation - Screens"
                  Target="[INSTALLFOLDER]OSAE.Screens.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\OSAE\Screens" Name="startMenuShortcutScreens" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="ManagerShortcut" Guid="{05DE0D7A-B21C-48E2-B105-25F932DC91F5}">
        <Shortcut Id="ManagerShortcutMenu"
                  Name="Manager"
                  Description="Open Source Automation - Manager"
                  Target="[INSTALLFOLDER]OSAE.Manager.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\OSAE\Manager" Name="startMenuShortcutManager" Type="integer" Value="1" KeyPath="yes"/>
      </Component>     
      <Component Id="ProgramMenuDir" Guid="{5E965BEC-2EF3-4B2A-96EB-7C38FDB5E984}">
        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKMU" Key="Software\OSAE\Server" Type="string" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>