<?xml version="1.0" encoding="UTF-8"?>

<?ifndef Version?>
<?define Version = "0.4.3" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="Screens Installer" 
           Language="1033"
           Version="$(var.Version)" 
           Manufacturer="Open Source Automation" 
           UpgradeCode="28e14f5d-5c07-4f3e-9973-163143009269">

    <Package Id='*' InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  />
    
    <!--<Upgrade Id="28e14f5d-5c07-4f3e-9973-163143009269">
      <UpgradeVersion OnlyDetect='no' Property='PREVIOUSFOUND' Minimum='0.1.0' IncludeMinimum='yes' Maximum='$(var.Version)' IncludeMaximum='no' />
    </Upgrade>-->

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"  />
    <Binary Id="CustomActionsBinary" SourceFile="$(var.SolutionDir)CustomActions\bin\x86\Combined\OSAInstallCustomActions.CA.dll" />
    
		<Feature Id="ProductFeature" Title="Screens Installer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ProgramMenuDir" />
      <MergeRef Id='Core' />
      <MergeRef Id='Screens' />
      <ComponentGroupRef Id="StartMenuComponents" />
    </Feature>

 
	</Product>
  
	<Fragment >
		<Directory Id="TARGETDIR" Name="SourceDir" >
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="OSA">
          <Component Id="ProgramMenuDir" Guid="{5E965BEC-2EF3-4B2A-96EB-7C38FDB5E984}">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKMU" Key="Software\OSAE\Screens" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
				<Directory Id="INSTALLFOLDER" Name="INSTALLLOCATION" >
          <Merge Id='Screens' Language='1033' src='$(var.SolutionDir)MergeModules\Screens\bin\x86\Combined\Screens.msm' DiskId='1' />
          <Merge Id='Core' Language='1033' src='$(var.SolutionDir)MergeModules\Core\bin\x86\Combined\Core.msm' DiskId='1' />
        </Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="StartMenuComponents" Directory="ProgramMenuDir">
      <Component Id="ScreensShortcut" Guid="{0CFFF240-9A31-48B9-975A-DBC1B4E802F5}">
        <Shortcut Id="ScreensShortcutMenu"
                  Name="Screens"
                  Description="Open Source Automation - Screens"
                  Target="[INSTALLFOLDER]OSAE.GUI.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RegistryValue Root="HKCU" Key="Software\OSAE\Screens" Name="startMenuShortcutScreens" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER"   >
    </ComponentGroup>
  </Fragment>
</Wix>