<?xml version="1.0" encoding="UTF-8"?>

<?ifndef Version?>
<?define Version = "0.4.4" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="ClientMergeModule" Language="1033" Version="1.0.0.0">
    <Package Id="{C023A6E8-19D8-46E6-BC07-1FCBC31598CD}" Manufacturer="Open Source Automation" InstallerVersion="200" InstallScope="perMachine" />
    <Icon Id="Icon.exe" SourceFile="$(var.SolutionDir)Resources\icon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="PluginsFolder" Name="Plugins" >
          <Directory Id="BlueTooth" Name="Bluetooth">
            <Component Id='Bluetooth' Guid="{13099D79-FC3C-411C-B0F5-4B7A08BC3A85}">
              <File Id='Bluetooth.osapd' Name='Bluetooth.osapd' DiskId='1' Source='$(var.SolutionDir)output\Plugins\Bluetooth\Bluetooth.osapd' KeyPath='yes' />
            </Component>
            <Component Id='InTheHand.Net.Personal.dll' Guid="{C3C7130F-90DF-45BD-9CAA-0882E185C335}">
              <File Id='InTheHand.Net.Personal.dll' Name='InTheHand.Net.Personal.dll' DiskId='1' Source='$(var.SolutionDir)output\Plugins\Bluetooth\InTheHand.Net.Personal.dll' KeyPath='yes' />
            </Component>
            <Component Id='BlueToothScreenshot.jpg' Guid="{5A64002F-C8CE-4899-B00C-AE07D5A11FF3}">
              <File Id='BlueToothScreenshot.jpg' Name='Screenshot.jpg' DiskId='1' Source='$(var.SolutionDir)output\Plugins\Bluetooth\Screenshot.jpg' KeyPath='yes' />
            </Component>
            <Component Id='OSAE.Bluetooth.dll' Guid="{A72FAE7D-B77E-4645-B4CD-8F9C1EFBF843}">
              <File Id='OSAE.Bluetooth.dll' Name='OSAE.Bluetooth.dll' DiskId='1' Source='$(var.SolutionDir)output\Plugins\Bluetooth\OSAE.Bluetooth.dll' KeyPath='yes' />
            </Component>
          </Directory>
          <Directory Id="Speech" Name="Speech">
            <Component Id='OSAE.Speech.dll' Guid="{5DAF2857-5933-4EFA-A43F-4B64066357F1}">
              <File Id='OSAE.Speech.dll' Name='OSAE.Speech.dll' DiskId='1' Source='$(var.SolutionDir)output\Plugins\Speech\OSAE.Speech.dll' KeyPath='yes' />
            </Component>
            <Component Id='SpeechScreenshot.jpg' Guid="{BD2E3D93-AB63-4E11-AAC8-3EDF9FF79994}">
              <File Id='Screenshot.jpg' Name='Screenshot.jpg' DiskId='1' Source='$(var.SolutionDir)output\Plugins\Speech\Screenshot.jpg' KeyPath='yes' />
            </Component>
            <Component Id='Speech.osapd' Guid="{A7463DB1-B485-4B26-BC18-A5C0550331D9}">
              <File Id='Speech.osapd' Name='Speech.osapd' DiskId='1' Source='$(var.SolutionDir)output\Plugins\Speech\Speech.osapd' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>

        <Component Id='OSAE.OSAManager' Guid='{249CFD3B-9C1B-44E6-9673-FC69BD0F1231}'>
          <File Id='OSAE.OSAManager' Name='OSAE.Manager.exe' DiskId='1' Source='$(var.SolutionDir)output\OSAE.Manager.exe' KeyPath='yes' />
          <ProgId Id='OSAE.OSAManager' Description='Plugin Installer File' Advertise='yes' Icon='Icon.exe'>
            <Extension Id='osapp' ContentType='application/text'>
              <Verb Id='open' Sequence='10' Command='Open' Argument='"%1"' />
            </Extension>
          </ProgId>
        </Component>
        <Component Id='OSAE.OSAManagerConfig' Guid='{EBA36BC7-4ED2-4633-BA96-8577992FEC10}'>
          <File Id='OSAE.OSAManagerConfig' Name='OSAE.Manager.exe.config' DiskId='1' Source='$(var.SolutionDir)output\OSAE.Manager.exe.config' KeyPath='yes' />
        </Component>
        <!--Zip Library-->
        <Component Id='ICSharpCode.SharpZipLib.dll' Guid='{4986521E-9DB6-4A7C-874F-3342C25C35DA}'>
          <File Id='ICSharpCode.SharpZipLib.dll' Name='ICSharpCode.SharpZipLib.dll' DiskId='1' Source='$(var.SolutionDir)output\ICSharpCode.SharpZipLib.dll' KeyPath='yes' />
        </Component>
        <!--VR2-->
        <Component Id="OSAE.VR.exe" Guid='{064B8EEB-B886-4B76-886F-5A6D3AFCDB97}'>
          <File Id='OSAE.VR.exe' Name='OSAE.VR.exe' DiskId='1' Source='$(var.SolutionDir)output\OSAE.VR.exe' KeyPath='yes' />
        </Component>
        <Component Id='ClientService.exe.config' Guid='{ED33006C-323A-412B-BF55-0C6AAEB0845D}'>
          <File Id='ClientService.exe.config' Name='ClientService.exe.config' DiskId='1' Source='$(var.SolutionDir)output\ClientService.exe.config' KeyPath='yes' />
        </Component>
        <!--Plugin Description Editor-->
        <Component Id="PluginDescriptionEditor.exe" Guid='{AB596B70-CDFC-43C0-B936-32A04ABFFC9D}'>
          <File Id='PluginDescriptionEditor.exe' Name='PluginDescriptionEditor.exe' DiskId='1' Source='$(var.SolutionDir)output\PluginDescriptionEditor.exe' KeyPath='yes' />
          <ProgId Id='PluginDescriptionEditor.exe' Description='Plugin Description File' Advertise='yes' Icon='Icon.exe'>
            <Extension Id='osapd' ContentType='application/text'>
              <Verb Id='open' Sequence='10' Command='Open' Argument='"%1"' />
            </Extension>
          </ProgId>
        </Component>
        <!--Main Service-->
        <Component Id='ClientService.exe' Guid='{82C2C06C-D7F5-45F1-B8FB-ADCA0E5D0D8E}'>
          <File Id='ClientService.exe' Name='ClientService.exe' DiskId='1' Source='$(var.SolutionDir)output\ClientService.exe' KeyPath='yes' />
          <ServiceInstall
                Id="ServiceInstaller"
                Type="ownProcess"
                Vital="no"
                Name="OSAE"
                DisplayName="OSAE Client"
                Description="Open Source Automation - Client."
                Start="auto"
                ErrorControl="ignore"
                Interactive="no">
          </ServiceInstall>
          <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="OSAE" Wait="yes" />
        </Component>

			</Directory>
		</Directory>
	</Module>
</Wix>
